{{ 'main-home-banners.css' | asset_url | stylesheet_tag }}

<div class="box-content">

  {%- for block in section.blocks %}
    {%- case block.type -%}
      {%- when 'banner' -%}

      <a href="{{ block.settings.link }}" class="box">
        <div class="box-image">
          {{ block.settings.image.image.src | img_url: "master" | img_tag }}
        </div>
        
        <div class="box-info">
          <h3>{{ block.settings.title }}</h3>
          <p>{{ block.settings.text }}</p>
          <h4>
            <span>
              {{ block.settings.text_btn }} 
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
          </h4>
        </div>
      </a>

    {%- endcase -%}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Banners",
  "tag": "section",
  "class": "main-home-banners",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "max_blocks": 2,
  "blocks": [
    {
      "name": "Banners",
      "type": "banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Selecione a imagem."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Título"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Texto"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Cole o link"
        },
        {
          "type": "text",
          "id": "text_btn",
          "label": "Texto para o link"
        }
      ]
    }
  ]
}
{% endschema %}
